[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
cufflinks = "*"
seaborn = "*"

[packages]
jupyter = "*"
pandas = "*"
pyspark = "*"
bokeh = "*"
feedparser = "*"
numpy = "*"
"Jinja2" = "*"
six = "*"
requests = "*"
tornado = "*"
PyYAML = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
cufflinks = "*"

[requires]
python_version = "3.6"
